$banner-font-color: white;
$main-font-color: #787878;
$muted-font-color: #b5b5b5;
$main-color: #8fcddc;

@mixin fontStyle($fontSize: 16px, $fontColor: black) {
    font-size: $fontSize;
    color: $fontColor;
}

@mixin flexMix($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.header {
    width: 100%;
    height: 57px;
    background: rgba($main-color, 0.3);
    padding: 0 128px;
    @include flexMix(space-between);
    box-sizing: border-box;
    position: fixed; //шапка прижата к скроллу (absolute для фиксирования сверху)
    left: 0;
    top: 0;
    z-index: 100;
}

.dropdown{
    overflow: hidden;
    ul{
        list-style-type: none;
        @include fontStyle (18px, black)
    }
}

.menu {
    height: 100%;
    width: 57px;
    background: rgba($banner-font-color, 0.5);
    @include flexMix;
    position:relative;
    outline: none; // убираем обводку при нажатии

    .line {
        width: 37px;
        height: 6px;
        background: $banner-font-color;
        position: relative;

        &:after {
            // &-ссылка на название класса родителя
            content: "";
            width: 37px;
            height: 6px;
            background: $banner-font-color;
            position: absolute;
            left: 0; 
            top: 11px; 
        }
        &:before {
            // &-ссылка на название класса родителя
            content: "";
            width: 37px;
            height: 6px;
            background: $banner-font-color;
            position: absolute;
            left: 0;
            bottom: 11px;
        }
    }

    .dropdown {
        position: absolute;
        width: 250px;
        height: 0;
        transition: .4s;
        background-color: $banner-font-color;
        box-shadow: 0 0 10px 0 $main-font-color;
        left: -255px;
        top: 60px;
    }

    &:focus{
        .dropdown {   
            height: 300px;
        }
    }
}
.banner {
    width: 100%;
    height: 482px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0 30px 150px 30px;
    box-sizing: border-box;
    @include flexMix($vert: flex-end);

    .content {
        width: 100%;
        @include flexMix(space-between, flex-end);

        .info {
            width: 100%;
            padding-left: 100px;
            box-sizing: border-box;

            .info-content {
                width: 390px;
            }

            .title {
                text-align: center;
                @include fontStyle(26px, $banner-font-color);
                display: block;
                padding: 0 40px;
                box-sizing: border-box;
                margin-bottom: 30px;
            }

            .search {
                width: 100%;
                height: 43px;
                position: relative;

                .search-input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    @include fontStyle(21px, $main-font-color);
                    padding-left: 15px;
                    padding-right: 50px;
                    box-sizing: border-box;
                }

                .search-icon {
                    position: absolute;
                    right: 12px;
                    bottom: 7px;
                }
            }
        }
    }
}
.register // родительский класс
{
    width: 100%;
    height: 112px;
    border-bottom: 1px solid $muted-font-color;
    box-sizing: border-box;
    @include flexMix;

    &-text {
        // амперсант указывает привязывание подкласса к родительскому
        @include fontStyle(35px, $main-font-color);
    }

    &-button {
        margin-left: 35px;
        width: 255px;
        height: 60px;
        background: $main-color;
        border: none;
        outline: none;
        cursor: pointer;
        @include fontStyle(35px, $banner-font-color);
        font-weight: 300;
        @include flexMix; // выравниваем текст в кнопке, после того, как изменили ей класс
        position: relative;
        user-select: none;

        .cbx:checked + .dropdown {
            height: 300px
        }

        .cbx {
            display: none;
        }

        .dropdown {
            width: 250px;
            height: 0;
            background: $muted-font-color; 
            position: absolute;
            left:-125px; 
            top: 63px;
            box-shadow: 0 0 10px 0 black; 
            transition: .3s;  
        }
    }
}

.categories {
    @include flexMix($pos: column);
    width: 100%;
    padding: 36px 128px 70px 128px;
    box-sizing: border-box;

    .title {
        text-transform: uppercase;
        @include fontStyle(23px, $main-font-color);
        margin-bottom: 30px;
    }

    .items {
        width: 100%;
        @include flexMix(space-around);

        .list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                @include fontStyle(15px, $muted-font-color);
            }

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .banner {
        height: 400px; // если разрешение экрана 1000 пикселей, то сокращать баннер на 400px (адаптивность)
    }

    .categories {
        padding: 36px 80px 70px 80px; // перемещаем ссылки
    }
}

@media screen and (max-width: 830px) {
    .banner {
        height: 350px; // если разрешение экрана 830 пикселей, то сокращать баннер на 350px (адаптивность)
    }

    .categories {
        padding: 36px 20px 70px 20px; // перемещаем ссылки
    }
}

@media screen and (max-width: 730px) {
    .header {
        padding: 0 20px;
    }
    .banner {
        height: 280px; // если разрешение экрана 830 пикселей, то сокращать баннер на 350px (адаптивность)
        padding: 0 30px 30px 30px;

        .content {
            .info {
                padding: 0 30px;

                .info-content {
                    width: 100%;
                } 
            }
        }
    }

    .categories {
        padding: 36px 20px 70px 20px; // перемещаем ссылки
        .items {
            flex-wrap: wrap; //если контент не влазит в одну строчку, то флекс выкидывает на след. ряд

            .list {
                margin-bottom: 40px; // делаем промежуток между категориями, когда они не влазят в ряд
            }
        }
    }

    .register {
        flex-direction: column;
        height: auto; // отключаем высоту
        padding: 20px 0;

        .register-button {
            margin-left: 0;
            margin-top: 15px;

            .dropdown {
                left:0; // делаем выпадашку снизу, когда сужаем экран
            }
        }
    }

    @media screen and (max-width: 460px) {
        .banner{
            .content {
                .arrow {
                    display: none;
                }

                .info{
                    padding: 0;

                    .title{
                        padding: 0;
                    }
                }
            } 
        }
    }
    
    .register{
        register-text{
            text-align: center; // при сужении выравнивание текста по центру 
        }
    }
}
 